@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
*{
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}
body{
    color: #eee;
}
.side_menu_container{
    width: 25%;
    position: fixed;
    height: 100vh;
    background-color: #27272d;
    padding-top: 3%;
}
.main_side_menu_item{
    margin-bottom: 10%;
    cursor: pointer;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: .8;
}
.main_side_menu_item span{
    font-size: 18px;
}
.main_side_menu_item:hover{
    background-color: rgb(25, 25, 31);
    transition: .4s ease-in-out;
    opacity: 1;
}
.side_items_menu_wrapper{
    padding-left: 20%;
    margin-top: 10%;
    display: none;
    transition: .4s;
}
.active_sub_menu{
    display: block;
}
.sub_menu_item{
    margin-bottom: 10%;
    opacity: .7;
}
.sub_menu_item:hover{
    opacity: 1;
    transition: .4s;
}
.account_preview_wrapper{
    position: absolute;
    width: 80%;
    padding: 10%;
    bottom: 20%;
    text-align: center;
}
.divider{
    background-color: #eeeeee;
    opacity: .3;
    height: 1px;
    width: 100%;
    margin-bottom: 20%;
}
.avatar{
    background-color: #f45a26;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 2%;
}
.auth_btn{
    background-color: #f45a26;
    width: 100%;
    border-radius: 3px;
}

/*test styles*/
input{
    color: #27272d;
}
